@import 'src/line-align'
@import 'src/direction'
@import 'src/justify'
@import 'src/align'
@import 'src/wrap'
@import 'src/self'

flex(value)
  if value == 'styl'
    display flex

  if value == 'line'
    display inline-flex

  if value == 'center'
    line-align center
    justify center
    align center

  if value == 'grow'
    flex-grow 1

  if value == 'no-grow'
    flex-grow 0

  if value == 'shrink'
    flex-shrink 1

  if value == 'no-shrink'
    flex-shrink 0

  if value == 'baseline' || value == 'stretch'
    align value

  if value == 'between' || value == 'around'
    justify value

  flex-dir value
  wrap value
