align(value)
  if value == 'start'
    align-items flex-start

  if value == 'end'
    align-items flex-end

  if value == 'center'
    align-items center

  if value == 'baseline'
    align-items baseline

  if value == 'stretch'
    align-items stretch
