flex-dir(value)
  if value == 'row'
    flex-direction row

  if value == 'column'
    flex-direction column

  if value == 'rev-row'
    flex-direction row-reverse

  if value == 'rev-column'
    flex-direction column-reverse
