justify(value)
  if value == 'start'
    justify-content flex-start

  if value == 'end'
    justify-content flex-end

  if value == 'center'
    justify-content center

  if value == 'between'
    justify-content space-between

  if value == 'around'
    justify-content space-around
