self(value)
if value == 'auto'
  align-self auto

if value == 'start'
  align-self flex-start

if value == 'end'
  align-self flex-end

if value == 'center'
  align-self center

if value == 'baseline'
  align-self baseline

if value == 'stretch'
  align-self stretch
